{% extends 'base.html.twig' %}

{% block title %}Welkom bij TeleShop! Wij hebben alle telefoons{% endblock %}

{% block body %}
<style>
    body {padding-top: 56px;}
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .card-title{ color:#17a2b8!important; }
    .card{ border: none !important; }
    .titel{ text-align: center; }
    .bg-item{ background-color: green !important; color: white; padding: 0px 15px; border-radius: 55px; margin-left: 30px;}
    .bg-item:hover{ cursor: pointer; background-color: forestgreen;}
    .mb-3{text-align: center; background-color: #f4f4f4; padding: 10px 0px !important;}
    .list-group-item.active{background-color: #17a2b8!important;}
    .list-group-item.active:hover{cursor: pointer;}
    .list-group-item:hover{cursor: pointer;}
    p{text-align: center;}
    .cart-icon{background-color: black !important; border-radius: 50%; border: 2px dotted white; margin-left: 30px; padding: 0px 2px;}
</style>

    {% if app.user %}
        <div class="mb-3">
            <b>You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a></b>
        </div>
    {% endif %}

    <div class="container">
        <p>GA NAAR /Contact OM DE OPDRACHT IN TE ZIEN</p>
    </div>
    
{% endblock %}
