{% extends 'base.html.twig' %}

{% block title %}Neem contact met ons op!{% endblock %}

{% block body %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
    *{font-family: 'Poppins', sans-serif;}
    .titel{ text-align: center; }
    body{background-color: #ededed;}
    .bg-item{ background-color: green !important; color: white; padding: 0px 20px; border-radius: 55px; margin-left: 30px;}
    .bg-item:hover{ cursor: pointer; background-color: forestgreen!important;}
    .mb-3{text-align: center; background-color: #f4f4f4; padding: 10px 0px !important;}
    .bericht{width: 50%; text-align: center;}
</style>
    <div class="container">
        <br>
        <br>
        <h1 class="titel"><b>◾ CONTACT ◾</b></h1>
        <br>
        <center><div class="bericht"><p>Heeft u nog vragen?  Stuur ons via onderstaand contactformulier
                    een berichtje en we nemen zo snel mogelijk contact met u op. </p></div></center>

    </div>
    <div class="container">
        <br>
        {{ form_start(our_form) }}
        {{ form_widget(our_form) }}

        <center><input type="submit" class="btn btn-danger" value="Verzenden" /></center>

        {{ form_end(our_form) }}
    </div>
{% endblock %}
